body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto';
}
 

.header-section{
    background-color: #1F2937;
    color: white;
}

.header-section > .top, .header-section > .bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-section > .top > div{
    flex: 1;
    text-align: center;
}

.header-section > .top > .logo > h1{
    font-size: 24px;
}

.header-section > .top > .header-links {
    /* border-style: solid; */
    /* border-color: aquamarine; */

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
}

.header-section > .bottom{
    display: flex;
    gap: 100px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.header-section > .bottom > .text{
    flex: 1;
}

.header-section > .bottom > .text > .main{
    font-size: 48px;
}

.header-section > .bottom > .text > .secondary{
    font-size: 18px;
}

.header-section > .bottom > div{
    flex: 1;
}

.image{
    background-color:rgb(157, 171, 172);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section{
    background-color: white;
}

.info-section > .header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-section{
    background-color: #e5e7eb;
}

.footer-section{
    background-color: #1F2937;
}

button{
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin: 4px 2px;
}







.quote-section > .text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}